# Java
*.class

# Library dependencies taken care of by gradle (ideally anyways)
WebContent/WEB-INF/lib/

# Package Files
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle/
build/

# Bower
webapp/bower_components/

# sass cache
.sass-cache/

# vim
*.swp
